{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block navbar %}
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">商户系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/add">添加新商户</a></li>
                <li><a href="#about">其他</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>
{% endblock %}

{% block content %}
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">商户列表</h1>
        </div>

    </div>

    {% for shop in shops %}
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <a href="#project-link"><img class="img-responsive" width="700" height="400" src="{{ shop['image'] }}"></a>
            <!--<a href="#project-link"><img class="img-responsive" src="/static/holder.png"></a>-->
            <h3><a href="#project-link">{{ shop['name'] }} <small>{{ shop['brand_name'] }}</small> </a></h3>
            <p>{{ shop['type'] }}</p>
        </div>
    </div>
    {% endfor %}

    <hr>

    <div class="row text-center">

        <div class="col-lg-12">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>        
        </div>

    </div>

</div><!-- /.container -->
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
<link rel="stylesheet" href="/static/index.css">
{% endblock %}
